In [5]:
from astroquery.simbad import Simbad

### A simple search by identifier:

In [10]:
#first make sure your target name in the correct format
#(see cds.u-strasbg.fr/cgi-bin/Dic-Simbad for Simbad's Dictionary of Nomenclature)
targetName = 'Rigel'

#Pull up a table of informaiton for this identifier
resultsTable = Simbad.query_objectids(targetName)    
print 'This table has '+str(len(resultsTable))+' lines!'
print resultsTable

This table has 57 lines!
           ID
-----------------------
              WEB  4731
             NAME Rigel
2MASS J05143226-0812060
               PLX 1191
               SBC9 307
              * bet Ori
              *  19 Ori
            * bet Ori A
               2E  1238
          AAVSO 0509-08
                    ...
            [SC93b] 101
              ALS 14772
            PLX 1191.00
  1RXS J051431.5-081112
         2E 0512.1-0814
        EUVE J0514-08.1
       WDS J05145-0812A
        TYC 5331-1752-1
       PMSC 05097-0819A
       uvby98 100034085
             GN 05.04.0
Length = 57 rows

As you can see, this can bring up a lot of information. To find one specific thing, for instance the Hipparcos identifier for this object, here's one way to do it:

In [19]:
for line in resultsTable:       #look through each line in the results table
    if 'HIP' in line[0]:        #find the line containing the Hipparcos identifier abbreviation
        print line[0]           #here I use line[0] instead of line to avoid the 'ID' label that will come up with just "line"

HIP  24436

### Using NASA's Exoplanet archive:

In [25]:
from astroquery.nasa_exoplanet_archive import NasaExoplanetArchive

#this is a super useful archive
exoplanet_archive_table = NasaExoplanetArchive.get_confirmed_planets_table()

#taking a look at the first three lines:
print exoplanet_archive_table[:3]

pl_hostname pl_letter pl_discmethod ... NAME_LOWERCASE       sky_coord
                                    ...                       deg,deg
----------- --------- ------------- ... -------------- ---------------------
   HAT-P-54         b       Transit ...      hat-p-54b    99.898003,25.48254
     HATS-2         b       Transit ...        hats-2b 176.739094,-22.562992
     HATS-3         b       Transit ...        hats-3b  312.45744,-24.428793

There's 82 columns for every target. To find specific information all you have to to is call the column name. For instance, let's find out the radius of the third planet in this table:

In [30]:
exoplanet3 = exoplanet_archive_table[3]    #take the information just for this planet
print exoplanet3['pl_radj']                #spit out it's radius

0.912 jupiterRad